{% extends "_layouts/admin_layout.twig" %}

{% block content %}

    {% include "_partials/adminPageOpen.twig" %}

    <div>
        <nav class="block text-sm text-left text-gray-600 h-12 flex items-center rounded-md">
            <ol class="list-none flex text-grey-dark p-0">
                <li><a class="no-underline text-gray-600 font-bold" href="/dashboard">Dashboard</a></li>
                <li class="mx-2">/</li>
                <!-- <li><a class="no-underline text-gray-600 font-bold" href="#">Library</a></li>
                <li class="mx-2">/</li> -->
                <li class="">Update Post</li>
            </ol>
        </nav>
    </div>

    {% set adminPageTitle = "Update Post" %}
    <div class="mb-4">{% include"_partials/adminPageHeading.twig" %}</div>

    <div id="updatePost">
        <form class="" method="post">

            <!-- Post Title -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="title">Title</label>
                <input
                        class="{% include "_styles/textBox.twig" %}"
                        id="title"
                        type="text"
                        name="title"
                        value="{{ post.title }}"
                        required
                />
            </div>


        </form>

        <div v-for="(elementId, index) in elementsOrder" :key="index" class="my-4">
            <div v-if="pageElements[elementId].type === 'heading'">
                <input v-model="pageElements[elementId].data" type="text" class="{% include "_styles/textBox.twig" %}" />
            </div>
            <div v-if="pageElements[elementId].type === 'editor'">
                <local-quill-editor
                        class="bg-white"
                        v-model="pageElements[elementId].data"
                        ref="quillEditorB"
                        :options="editorOption"
                >

                </local-quill-editor>
            </div>

        </div>

        {% include "_partials/addElementBar.twig" %}
    </div>

    {% include "_partials/adminPageClose.twig" %}
{% endblock %}


{% block vuejs %}

    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.4/dist/vue-quill-editor.js"></script>
    <link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">


    <script>
        let updatePostApp = new Vue({
            name: 'updatePost',
            el: '#updatePost',
            delimiters: ['%%','%%'],
            components: {
                LocalQuillEditor: VueQuillEditor.quillEditor
            },
            computed: {},
            data: {
                editorOption: {
                    theme: 'snow',
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'font': [] }],
                            [{ 'align': [] }],
                            ['link'],
                        ]
                    },
                },
                pageElements: {},
                objectIndex: 0,
                elementsOrder : [],
                title: ``,
            },
            methods: {
                createElement(type) {
                    this.$set(this.pageElements, this.objectIndex, {
                        type: type,
                        data: ``,
                        elementId: this.objectIndex,
                        order : this.objectIndex,
                        render: false,
                    })
                    this.elementsOrder.push(this.objectIndex)
                    this.objectIndex++
                },
            },
            created() {},
        })

    </script>



{% endblock %}