{% extends "_layouts/admin_layout.twig" %}

{% block content %}

    {% include "_partials/adminPageOpen.twig" %}
    {% set adminPageTitle = "Update Post" %}
    <div class="mb-4">{% include"_partials/adminPageHeading.twig" %}</div>

    <form class="mb-24" method="post">

        <!-- Post Title -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="title">Title</label>
            <input
                    class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="title"
                    type="text"
                    name="title"
                    value="{{ post.title }}"
                    required
            />
        </div>


    </form>

    {% include "_partials/adminPageClose.twig" %}
{% endblock %}


{% block vuejs %}

{% endblock %}